default_install_hook_types: [pre-commit, commit-msg]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-case-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: destroyed-symlinks
      - id: end-of-file-fixer
      - id: forbid-new-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: deno-fmt
        name: Deno format
        entry: deno fmt
        types_or: [file]
        language: system
        args: [--config, deno.jsonc, --permit-no-files]
      - id: deno-lint
        name: Deno lint
        entry: deno lint
        types_or: [file]
        language: system
        args: [--config, deno.jsonc, --permit-no-files, --fix]
      - id: svelte-check
        name: Svelte type check
        entry: bash -c 'deno install && deno run -A --node-modules-dir npm:@sveltejs/kit sync && deno run -A --node-modules-dir npm:svelte-check-rs@latest --fail-on-warnings --threshold error'
        language: system
        types_or: [ts, svelte]
        pass_filenames: false

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        stages: [pre-commit, commit-msg]
        args: [--ignore-words-list, falsy, --check-filenames]

  - repo: https://github.com/crate-ci/typos
    rev: v1.42.1
    hooks:
      - id: typos
        types: [text]
        args: []
        exclude: changelog.md

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.47.0
    hooks:
      - id: markdownlint
        # MD013: line too long
        # MD033: no inline HTML
        # MD041: first line in a file should be a top-level heading
        args: [--disable, MD013, MD033, MD041, '--']
        exclude: changelog\.md$

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v10.0.0-rc.1
    hooks:
      - id: eslint
        types: [file]
        args: [--fix]
        files: \.(js|ts|svelte)$
        additional_dependencies:
          - eslint
          - eslint-plugin-svelte
          - svelte
          - typescript
          - typescript-eslint
          - '@stylistic/eslint-plugin'
