:root {
  --bg: #090019;

  --toc-mobile-bg: #484452;
  --toc-mobile-btn-color: white;
  --toc-min-width: 15em;
  --toc-desktop-max-width: 15em;
  --toc-font-size: 11pt;

  --zoo-github-corner-color: var(--bg);
  --zoo-github-corner-bg: white;
}
body {
  background: var(--bg);
  padding: min(3em, 5vw);
  font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
  margin: auto;
  color: #eee;
  font-size: 12pt;
}
body > div {
  display: flex;
  margin: auto;
  place-content: center;
}
main {
  max-width: 50em;
  margin-bottom: 3em;
}
a {
  color: cornflowerblue;
  text-decoration: none;
}
a:hover {
  color: orange;
}
code {
  overflow-wrap: break-word;
  padding: 1pt 3pt;
  border-radius: 3pt;
  background-color: rgba(255, 255, 255, 0.15);
}
pre code {
  background-color: transparent;
  display: inline-block;
}
pre {
  position: relative;
  border-radius: 1ex;
}
blockquote {
  border-left: 3pt solid cornflowerblue;
  padding: 0 8pt;
  background: rgba(255, 255, 255, 0.2);
  margin: 1em 0;
}
:is(h2, h3, h4, h5, h6) {
  margin-top: 1.2em;
  transition: 0.3s;
  scroll-margin-top: 20px;
}
.toc-clicked {
  color: cornflowerblue;
}
:is(ul, ol) > li {
  line-height: 3ex;
}

/* style heading anchors added by rehype-autolink-headings, see svelte.config.js */
:is(h2, h3, h4, h5, h6) a[aria-hidden='true'] {
  transition: 0.3s;
  margin-left: 4pt;
  opacity: 0;
}
:is(h2, h3, h4, h5, h6):hover a[aria-hidden='true'] {
  opacity: 1;
}

table {
  border-collapse: collapse;
}
table :is(td, th) {
  border: 0.1px dashed gray;
  padding: 4pt 9pt;
}
tbody tr:nth-child(odd) {
  background: black;
}

button {
  color: var(--text-color);
  cursor: pointer;
  border: none;
  border-radius: 3pt;
  background: teal;
  padding: 2pt 4pt;
}
